name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches-ignore: []
  schedule:
    - cron: '0 0 * * SUN'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python: [3.7, 3.8, 3.9]
      fail-fast: false


    steps:

    - name: install graphviz
      run: |
        sudo apt-get install -y graphviz

    - name: checkout git repo
      uses: actions/checkout@v2

    - name: conda/mamba
      uses: mamba-org/provision-with-micromamba@main
      with:
          environment-file: environment.yml
          extra-specs: |
            python=${{ matrix.python }}


    - name: install package itself
      run: |
         pip install .
         pip install 'snakemake<7.13'
         pip install 'cookiecutter<2'

    - name: Install dependencies
      run: |
        pip install coveralls pytest-cov pytest pytest-xdist

    - name: testing
      run: |
        pytest -v --cov-report term-missing --cov=sequana_pipelines.fastqc

    - name: coveralls
      run: |
        echo $COVERALLS_REPO_TOKEN
        coveralls --service=github
      env:
          GITHUB_TOKEN: ${{ github.token }}
